@import "./../../style/scss/allStyle.scss";

.loader {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border:2px solid $Brand;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    opacity: 0.4;
    transform: rotate(0deg) scale(0.6);
    border-radius: 25%;
  }
  50% {
    opacity: 1;
    transform: rotate(180deg) scale(1.4);
    border-radius: 40%;
  }
  100% {
    opacity: 0.4;
    transform: rotate(360deg) scale(0.6);
    border-radius: 25%;
  }
}
