@import "./../../style/scss/allStyle.scss";

.basket {
  box-sizing: border-box;
  padding: 8px 24px 24px 24px;
  border-radius: $Radius24;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: $Gap16;
  background-color: $White;
  box-shadow: 0px 16px 40px 0px rgba(23, 32, 41, 0.32);
  .openBasketPage {
    box-sizing: border-box;
    text-align: end;
    a {
      display: inline-block;
      background-color: $BrandLight1;
      color: $White;
      padding: 3px 5px;
      border-radius: $Radius12;
      text-decoration: none;
      font-weight: 100;
      font-family: "Nunito";
      font-size: 18px;
      transition: $Animation200;
      &:hover {
        transition: $Animation100;
        opacity: 0.8;
      }
    }
  }
  .result {
    display: flex;
    justify-content: space-between;
    h3 {
      font-family: "Nunito";
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 24px;
      color: $Black;
      text-align: left;
    }
    p {
      font-family: "Circe Rounded";
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 32px;
      text-align: right;
      color: $Black;
    }
  }

  .miniWrapper {
    max-width: 100%;
    border-bottom: 1px solid $GrayLight1;
    display: flex;
    padding-bottom: 16px;
    height: 100%;
    gap: $Gap16;
    box-sizing: border-box;
    justify-content: space-between;
    .left {
      max-width: 50%;
      display: flex;
      align-items: center;
      gap: $Gap16;
      .img {
        width: $WidthImages;
        height: $WidthImages;
      }
      a {
        max-width: calc(100% - $WidthImages - $Gap16);
        text-decoration: none;
        .title {
          max-width: 100%;
          font-family: "Nunito";
          font-size: 1rem;
          font-weight: 400;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          color: $Black;
        }
      }
    }
    .right {
      max-width: 50%;
      display: flex;
      align-items: center;
      gap: $Gap16;
      .price {
        width: calc(50% - $Gap8);
        min-width: 90px;
        .priceOne {
          font-family: "Nunito";
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 16px;
          text-align: right;
          color: $Gray;
        }
        .priceAll {
          font-family: "Nunito";
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 24px;
          text-align: right;
          color: $Black;
        }
      }
    }
  }
  .button {
    width: 100%;
    border-radius: $Radius12;
    padding: 16px;
    background-color: $Brand;
    outline: none;
    border: 0;
    font-family: "Nunito";
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    color: $White;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .basket {
    .miniWrapper {
      flex-direction: column;
      gap: $Gap8;
      height: 125px + $Gap8;
      .left {
        gap: $Gap8;
        max-width: 100%;
        a {
          max-width: calc(100% - $WidthImages - $Gap8);
        }
      }
      .right {
        gap: $Gap8;
        max-width: 100%;
        .price {
          width: calc(50% - $Gap4);
        }
      }
    }
  }
}
