@import "./../../style/scss/allStyle.scss";

.cards {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1346px;
  gap: $Gap24;
  @media (max-width: 480px) {
    gap: $Gap12;
  }
  justify-content: center;
  .card {
    display: flex;
    flex-direction: column;
    gap: $Gap12;
    text-decoration: none;
    border-radius: $Radius16;
    overflow: hidden;
    max-width: 250px;
    @media (max-width: 480px) {
      max-width: 160px;
    }
    @media (max-width: 343px) {
      max-width: 250px;
    }
    max-height: 358px;
    background-color: $White;
    &:hover {
      transition: $Animation100;
      box-shadow: 0px 0px 30px 0px #00000026;
    }
    transition: $Animation200;
    .preview {
      width: 100%;
      min-height: 185px;
      max-height: 250px;
      img {
        box-sizing: border-box;
        width: 100%;
        border: 2px solid $White;
      }
    }
    .info {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px 16px 16px 16px;
      gap: $Gap16;
      .title {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: $Gap4;
        .name {
          box-sizing: border-box;
          font-family: "Nunito";
          font-size: 1rem;
          font-weight: 400;
          line-height: 20px;
          color: $Black;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .rating {
          display: flex;
          width: 100%;
          height: 16px;
          flex-direction: column;
          gap: $Gap4;
          img {
            width: 12px;
            height: 12px;
          }
        }
      }
      .price {
        color: $Black;
        font-family: "Nunito";
        font-size: 1.375rem;
        font-weight: 800;
        line-height: 24px;
        text-align: left;
      }
      @media (max-width: 480px) {
        gap: $Gap8;
      }
    }
  }
}
