@import "./../../style/scss/allStyle.scss";


.back {
  position: absolute;
  top: 24px;
  left: 30px;
  cursor: pointer;
  display: flex;
  gap: $Gap4;
  font-family: $Font-Nunito;
  font-size: 16px;
  font-weight: $Font-Weight-700;
  line-height: 20px;
  color: $Brand;
  @media (max-width: $WidthMedia) {
    display: none;
  }
}
