@import "./../../style/scss/allStyle.scss";

.header {
  background: rgba(242, 246, 250, 1);
      width: 100%;
    z-index: 1;
    top: 0;
    position: sticky;
  .container {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    height: $HeightHeader;
    padding: 12px 32px 0px 32px;
    border-bottom: 1px solid $BrandLight2;

    .header__logo {
      height: 100%;
      img {
        width: 150px;
        height: 24px;
      }
    }

    .header__navigating {
      ul {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: row;
        column-gap: $Gap16;
        li {
          &:nth-child(3) {
            display: none;
          }
          height: 100%;
          border: 0;
          color: $Black;
          a {
            display: block;
            height: 100%;
            color: inherit;
            text-decoration: none;
            font-family: "Nunito";
            font-size: 1rem;
            line-height: 20px;
            font-weight: 700;
          }
        }
      }
    }

    .header__cart {
      cursor: pointer;
      display: flex;
      column-gap: $Gap4;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        min-width: 102px;
        font-family: "Nunito";
        font-size: 1rem;
        line-height: 20px;
        font-weight: 700;
        text-align: left;
      }
    }

    .burger {
      display: none;
    }
    .containerBasket {
      display: flex;
      z-index: 999;
      top: $HeightHeader+24px;
      right: 15px;
       max-height: calc(70vh - 24px - 48px);
      position: absolute;
      box-sizing: border-box;
      width: 560px;
      @media (max-width: 590px) {
        width: 95%;
      }
    }
    .containerBasketNone {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .header {
    .container {
      align-items: center;
      padding: 10px 10px 0px 10px;
      margin: 0 auto 10px auto;
      .header__logo {
        img {
          width: 100px;
        }
      }
      .burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20px;
        height: 15px;
        span {
          background-color: $Brand;
          width: 100%;
          height: 2px;
          display: block;
        }
      }
      .header__navigating {
        display: block;
        top: 48px;
        right: 0;
        position: absolute;
        z-index: 2;
        width: 65%;
        height: 25%;

        ul {
          padding: 20px;
          background-color: $BrandLight2;
          gap: $Gap10;
          border-radius: $Radius16 0px 0px $Radius16;
          flex-direction: column;
          justify-content: space-between;
          li {
            height: 100%;
            transition: $Animation200;
            :hover {
              transition: $Animation100;
              color: $Brand;
            }
            a {
              height: auto;
              font-size: 2.2rem;
              line-height: 35px;
            }
          }
          :nth-child(3) {
            display: block !important;
          }
        }
      }
      .none {
        display: none !important;
      }
      .header__cart {
        display: none !important;
      }
    }
  }
}
