@import "./../../style/scss/allStyle.scss";
.container {
  margin: 0 auto 24px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  height: 48px;
  padding: 12px 32px 0px 32px;
  border-bottom: 1px solid $BrandLight2;
  @media (max-width: 480px) {
    padding: 10px 10px 0px 10px;
    margin: 0 auto 10px auto;
  }
  .header__logo {
    height: 100%;
    img {
      @media (max-width: 480px) {
        width: 100px;
      }
      width: 150px;
      height: 24px;
    }
  }
  .header__navigating {
    ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 16px;
      li {
        &:nth-child(3) {
          display: none;
        }
        height: 100%;
        border: 0;
        color: $Black;

        a {
          display: block;
          height: 100%;
          color: inherit;
          text-decoration: none;
          font-family: "Nunito";
          font-size: 1rem;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }
  }
  .burger {
    display: none;
  }
  @media (max-width: 480px) {
    .burger {
      display: flex;
      top: 10px;
      right: 15px;
      position: absolute;
      z-index: 1;
      flex-direction: column;
      justify-content: space-between;
      width: 20px;
      height: 15px;
      span {
        background-color: $Brand;
        width: 100%;
        height: 2px;
        display: block;
      }
    }

    .header__navigating {
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      width: 50%;
      height: 20%;

      ul {
        padding: 30px 30px 20px 20px;
        background-color: $White;
        gap: 15px;
        flex-direction: column;
        :nth-child(3) {
          // background-color: red;
          display: block !important;
        }
      }
    }
    .header__navigating__burger {
      display: none;
    }
  }
  .none {
    display: none !important;
  }
  .header__cart {
    cursor: pointer;
    display: flex;
    column-gap: 4px;
    img {
      width: 20px;
      height: 20px;
    }
    p {
      font-family: "Nunito";
      font-size: 1rem;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
    }
  }
}

.header {
  background: rgba(242, 246, 250, 1);
}
.containerBasket {
  display: none;
  z-index: 999;
  top: 50px;
  right: 15px;
  position: absolute;
  box-sizing: border-box;
  width: 560px;
  // transition: display 1s ease-out 0s;
}
