@import "./../../style/scss/allStyle.scss";
.handleBasket {
  max-width: 100%;
  width: 100%;
  position: relative;
  p {
    opacity: 0.7;
    font-size: 12px;
    left: 46px;
    bottom: 56px;
    max-width: revert;
    position: absolute;
    z-index: 1;
    border-radius: $Radius4;
    padding: 3px;
    color: gray;
    border: 1px solid gray;
  }
  button {
    @include button;
  }
}
