@import "./../../style/scss/allStyle.scss";

.containerBasket {
  display: flex;
  z-index: 999;
  top: $HeightHeader + 24px;
  right: 15px;
  max-height: calc(70vh - 24px - $HeightHeader);
  position: absolute;
  box-sizing: border-box;
  width: 560px;
  @media (max-width: 590px) {
    width: 95%;
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.containerBasketNone {
  display: none;
}
.header__cart {
  cursor: pointer;
  display: flex;
  column-gap: $Gap4;
  img {
    width: 20px;
    height: 20px;
  }
  p {
    min-width: 102px;
    font-family: $Font-Nunito;
    font-size: 1rem;
    line-height: 20px;
    font-weight: $Font-Weight-700;
    text-align: left;
  }
}
@media (max-width: $WidthMedia) {
  .header__cart {
    display: none !important;
  }
}
