@import "./../../style/scss/allStyle.scss";

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $Gap24;
  max-width: 1280px;
  .containerBig {
    height: 100%;
  }
  .container {
    transition: $Animation200;
    display: flex;
    gap: $Gap24;
    flex-direction: column;
    padding: 24px;
    border-radius: $Radius16;
    box-sizing: border-box;
    background-color: $White;
    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      transition: $Animation100;
    }
    .openInfo {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        gap: $Gap16;

        .orderID {
          font-family: $Font-Nunito;
          font-size: 1rem;
          font-weight: $Font-Weight-700;
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: $Gap4;
          min-width: 80px;
          .order {
            line-height: 20px;
            color: $Gray;
          }
          .iD {
            color: $Black;
            line-height: 24px;
          }
        }
        .images {
          display: flex;
          gap: $Gap8;
          flex-wrap: wrap;
          .image {
            box-sizing: border-box;
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
            width: 50px;
            height: 50px;
            padding: 1px;
            border-radius: $Radius4;
            img {
              border-radius: $Radius4;
              width: 100%;
              height: 100%;
            }
          }
          .endImage {
            display: flex;
            align-items: flex-end;
            span {
              color: $Gray;
              font-family: $Font-Nunito;
              font-size: 1rem;
              font-weight: $Font-Weight-700;
              line-height: 20px;
            }
          }
          @media (max-width: 375px) {
            display: none;
          }
        }
      }
      .right {
        display: grid;
        grid-template-columns: calc(50% - 4px) calc(50% - 4px);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: $Gap8;
        grid-row-gap: $Gap8;
        font-family: $Font-Nunito;
        font-size: 1rem;
        font-weight: $Font-Weight-700;
        line-height: 20px;
        min-width: 271px;
        max-width: 271px;

        .title {
          text-align: right;
          color: $Gray;
        }
        .value {
          text-align: left;
          color: $Black;
        }
        .div1 {
          grid-area: 1 / 1 / 2 / 2;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .div2 {
          grid-area: 1 / 2 / 2 / 3;
        }
        .div3 {
          grid-area: 2 / 1 / 3 / 2;
        }
        .div4 {
          grid-area: 2 / 2 / 3 / 3;
        }
      }
    }
    .closedInfo {
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      gap: $Gap16;
      border: 1px solid $Gray;
      max-height: 35vh;
      overflow-y: auto;
      @include scroll;

      .table {
        tr {
          font-family: $Font-Nunito;

          td,
          th {
            text-align: left;
            padding: 7px 7px;
          }
          .idTable {
            max-width: 10px;
          }
          .imgTable {
            width: 50px;
            img {
              padding: 1px;
              box-sizing: border-box;
              box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
              border-radius: $Radius4;
              width: 48px;
              height: 48px;
            }
          }
          .titleTable {
            width: 100%;
            max-width: 165px;
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .priceTable {
            margin-left: 10px;
          }
        }
        .itemTable {
          cursor: pointer;
          transition: $Animation200;
          &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            transition: $Animation100;
            border-radius: 10px;
            scale: 1.01;
          }
        }
      }
    }
    .closedButtons {
      display: flex;
      gap: $Gap24;
      justify-content: flex-end;
      button {
        max-width: 200px;
        @include button;
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    .container {
      padding: 15px;
      flex-direction: column;
      gap: $Gap8;

      .openInfo {
        .left {
          gap: $Gap8;
        }
        .right {
          grid-template-columns: calc(50% - 2px) calc(50% - 2px);
          grid-column-gap: $Gap4;
          grid-row-gap: $Gap4;
          justify-items: start;
          min-width: 165px;
          max-width: 165px;
        }
      }
    }
  }
}
@media (max-width: $WidthMedia) {
  .wrapper {
    gap: $Gap12;
    .container {
      padding: 15px;
      flex-direction: column;
      gap: $Gap8;
      .openInfo {
        .left {
          gap: $Gap8;
          min-width: 20px;
          .orderID {
            min-width: 40px;
          }
        }
        .right {
          grid-template-columns: 80px 1fr;
          justify-items: start;
        }
      }
      .closedInfo {
        padding: 5px 5px;
        .table {
          tr {
            font-family: $Font-Nunito;
            td,
            th {
              padding: 4px 4px;
            }
            .idTable {
              display: none;
            }
            .imgTable {
              width: 40px;
              img {
                width: 38px;
                height: 38px;
              }
            }
            .titleTable {
              max-width: 60px;
            }
            .priceTable {
              margin-left: 5px;
            }
          }
        }
      }
      .closedButtons {
        gap: $Gap8;
        flex-direction: column;
        button {
          max-width: 100%;
        }
      }
    }
  }
}
