@import "./../../style/scss/allStyle.scss";
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1280px;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: $White;
    .left {
      display: flex;
      gap: 16px;
      .orderID {
        font-family: "Nunito";
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        min-width: 100px;
        .order {
          line-height: 20px;
          color: $Gray;
        }
        .iD {
          color: $Black;
          line-height: 24px;
        }
      }
      .images {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        .image {
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.095);
          width: 48px;
          padding: 1px;
          height: 48px;
          border-radius: 4px;
          img {
            border-radius: 4px;
            width: 100%;
            height: 100%;
          }
        }
        .endImage {
          display: flex;
          align-items: flex-end;
          span {
            color: $Gray;
            font-family: "Nunito";
            font-size: 1rem;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
    }

    .right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      font-family: "Nunito";
      font-size: 1rem;
      font-weight: 700;
      line-height: 20px;

      .title {
        text-align: right;
        color: $Gray;
      }
      .value {
        text-align: left;
        color: $Black;
      }
      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div4 {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    .container {
      padding: 15px;
      flex-direction: column;
      gap: 10px;
      .left {
        gap: 8px;
      }
      .right {
        grid-template-columns: 100px 1fr;
        justify-items: start;
      }
    }
  }
}
@media (max-width: 480px) {
  .wrapper {
    .container {
      padding: 15px;
      flex-direction: column;
      gap: 10px;
      .left {
        gap: 8px;
        .orderID {
          min-width: 80px;
        }
      }
      .right {
        grid-template-columns: 80px 1fr;
        justify-items: start;
      }
    }
  }
}
