@import "./reset.scss";
@import "./colors.scss";
$Animation200: all 200ms ease-in-out;
$Animation100: all 100ms ease-in-out;
$WidthImages: 52px;
$Gap4: 4px;
$Gap8: 8px;
$Gap12: 12px;
$Gap16: 16px;
$Gap24: 24px;
$Radius4: 4px;
$Radius12: 12px;
$Radius16: 16px;
$Radius24: 24px;
$HeightHeader: 48px;
$WidthMedia: 480px;
$Font-Weight-800: 800;
$Font-Weight-700: 700;
$Font-Weight-600: 600;
$Font-Weight-400: 400;
$Font-Weight-100: 100;
$Font-Nunito: "Nunito", sans-serif;
$Font-CirceRounded: "Circe Rounded", sans-serif;

.animationModalWindow {
  position: sticky;
  z-index: 2;
  top: 0;
}
body {
  font-family: $Font-Nunito;
  background-color: $BrandLight3;
}
html {
  font-size: 16px;
  @media (max-width: $WidthMedia) {
    font-size: 12px;
  }
}
button {
  cursor: pointer;
}
main {
  // margin-top: $HeightHeader;
  padding: 24px;
  @media (max-width: $WidthMedia) {
    padding: 0 12px;
  }
  position: relative;
}
.active {
  border-bottom: 2px solid $Brand;
  color: $Brand !important;
}

@mixin button {
  white-space: nowrap;
  width: 100%;
  border-radius: $Radius12;
  padding: 16px;
  background-color: $Brand;
  outline: none;
  border: 0;
  font-family: $Font-Nunito;
  font-size: 1rem;
  font-weight: $Font-Weight-700;
  line-height: 20px;
  color: $White;
  justify-content: center;
  transition: $Animation200;
  &:disabled {
    transition: $Animation100;
    opacity: 40%;
  }
  &:hover {
    transition: $Animation100;
    background-color: rgb(51, 143, 235);
  }
  &:active {
    transition: $Animation100;
    background-color: rgb(0, 92, 184);
  }
  @media (max-width: $WidthMedia) {
    height: 100%;
    padding: 8px;
  }
}
@mixin scroll {
  &::-webkit-scrollbar {
    width: 5px; // Ширина скроллбара
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Цвет ползунка скроллбара
    border-radius: 5px; // Скругление углов ползунка
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // Цвет ползунка скроллбара при наведении
  }
}
