$Black: rgb(23, 32, 41);
$White: rgb(255, 255, 255);
$Brand: rgb(0, 115, 230);
$BrandLight1: rgb(153, 199, 245);
$BrandLight2: rgb(230, 241, 252);
$BrandLight3: rgb(242, 246, 250);
$Gray: rgb(128, 128, 128);
$GrayLight1: rgb(242, 242, 242);
$Accent: rgb(250, 188, 34);
$Focus: rgb(237, 44, 25);
